[Desktop Entry]
Name=Slate
GenericName=Markdown Notes Editor
Comment=Distraction-free native Markdown notes application
Exec=slate %U
Icon=com.nnoah29.slate
Terminal=false
Type=Application
Categories=Office;TextEditor;Utility;
MimeType=text/markdown;text/x-markdown;
Keywords=Markdown;Notes;Text;Editor;Minimalist;Write;
StartupNotify=true
StartupWMClass=com.nnoah29.slate
Actions=New;

[Desktop Action New]
Name=New Note
Exec=slate --new
